/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVBAR~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

nav {
    background-image: var(--gradient),
        url('/images/banner_02.PNG');
    background-size: cover;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 999;
}

body{
    width: 100vw;  
    height: 100vh;
}

.game__navbar {
    align-items: baseline;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
}

.navbar__title {
    color: var(--white);
}

.game__navbar .navbar__title {
    padding-top: 2rem;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.game__navbar .navbar__menu {
    padding-top: 1rem;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    white-space: nowrap;
    font-size: var(--font-size-md);
}



.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 40%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
    }

    .navbar__title {
        padding-left: 25px;
    }

    .navbar__item {
        width: 100%;
        height: 50px;
    }

    .navbar__links {
        text-align: center;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
        cursor: pointer;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white);
        ;
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

:root {
    --black: #141414;
    --white: #fff;
    --gradient: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(17, 17, 17, 0.6) 100%);
    background: var(--black);
    color: var(--white);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
        --font-size-sm: clamp(0.83rem, 0.17vw + 0.79rem, 0.93rem);
        --font-size-base: clamp(1rem, 0.45vw + 0.89rem, 1.25rem);
        --font-size-md: clamp(1.2rem, 0.89vw + 0.98rem, 1.69rem);
        --font-size-lg: clamp(1.44rem, 1.52vw + 1.06rem, 2.28rem);
        --font-size-xl: clamp(1.73rem, 2.45vw + 1.12rem, 3.08rem);
        --font-size-xxl: clamp(2.07rem, 3.78vw + 1.13rem, 4.15rem);
        --font-size-xxxl: clamp(2.49rem, 5.67vw + 1.07rem, 5.61rem);
    }
}

/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
        --font-size-sm: 0.83rem;
        --font-size-base: 1rem;
        --font-size-md: 1.2rem;
        --font-size-lg: 1.44rem;
        --font-size-xl: 1.73rem;
        --font-size-xxl: 2.07rem;
        --font-size-xxxl: 2.49rem;
    }

    @media screen and (min-width: 1280px) {
        :root {
            --font-size-sm: 0.93rem;
            --font-size-base: 1.25rem;
            --font-size-md: 1.69rem;
            --font-size-lg: 2.28rem;
            --font-size-xl: 3.08rem;
            --font-size-xxl: 4.15rem;
            --font-size-xxxl: 5.61rem;
        }

    }
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

h1 {
    font-size: var(--font-size-xxl);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-lg);
}

h4, h5 {
    font-size: var(--font-size-md);
    font-weight: bold;
}

p,
a,
li {
    font-size: var(--font-size-base);
}

/* Button */
.button-50 {
  appearance: button;
  background-color: #E4D3B2;
  background-image: none;
  border: 1px solid #E4D3B2;
  border-radius: 4px;
  box-shadow: #131313 4px 4px 0 0,#E4D3B2 4px 4px 0 1px;
  box-sizing: border-box;
  color: #131313;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #131313 2px 2px 0 0, #E4D3B2 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}