.flex {
    display: flex;
}

main {
    flex-direction: row;
    height: 115vh;
    h1 {
        padding: 5vh 0;
        text-align: center;
    }

    figure {
        padding: 10vw 0;
    }

    img {
        width: 10vw;
    }

    iframe {
        width: 40vw;
        margin: 0 12vw;
    }

    section {
        flex-direction: column;
        width: 100vw;
    }

    span {
        flex-direction: row;
        justify-content: space-evenly;
    }

    span div {
        padding: 5%;
        max-width: 33vw;
    }

}